@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.container {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background: rgb(55,213,196);
    background: linear-gradient(90deg, rgb(238, 241, 241) 50%, rgb(255, 255, 255) 50%);
}

.actualPlayer {
    color: green;
    background-color: white;
}

.current {
    background-color: #ee3c45;
}

.fa {
    color: #ee3c45;
}

.dice {
    font-size: 100px;
}

.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
}

.go {
    font-weight: bold;
    color: #51d378;
}